body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.topnav {
    overflow: hidden;
    background-color: #333
}

.topnav a {
    float: left;
    color: #1affa3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ff0000;
    color: black;
}

.topnav a.active {
    background-color: #ffe066;
    color: black;
}

.content {
    background-image: url("galaxy.jpg");
    height: 300px;
    text-align:center;
}

h1 {
    font-size: 190px;
    color: white;
}
#content2:hover {
    box-shadow: 100px 10px 100px red;
    color: blue;
    text-shadow: 5px 5px 5px red;
}
#facts {
    border: 2px solid rgb(0, 211, 223);
    color: rgb(255, 0, 0);
    align-items: center;
    padding:20px;
    font-size: 20px

}
#image {
    border: 2px solid rgb(223, 0, 0);
}